.hide {
  display: none;
}
.row {
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

#confettiCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
